.App {
  display: flex;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
